extends layout

block content
    .container-md.about
        .header
            h1=title
        br
        br
        br
        .row(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
            .col-md-6
                h2 Who we are
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla neque non urna pharetra, in ultricies magna ultricies. Nunc rutrum massa a nisl blandit dignissim.
                p Mauris sodales neque ante, ut dignissim lorem posuere eu. Ut semper ante accumsan auctor euismod. Sed elementum, quam ut volutpat aliquet, nisi quam semper tortor, ut fermentum erat mi quis lorem.
                p Phasellus in magna in tellus molestie mattis. Quisque rutrum gravida rhoncus.
            .col
                img(src="https://picsum.photos/id/1005/400/300")
        .row(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
            .col
                img(src="https://picsum.photos/id/319/400/300")
            .col-md-6
                h2 What we do
                p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam eleifend porta pharetra. Morbi interdum at lacus non viverra.
                p Mauris vitae maximus metus. Sed ultricies faucibus massa ac euismod. Nunc auctor auctor varius. Aenean fermentum eros quis urna accumsan pellentesque. Etiam dapibus convallis condimentum. Vestibulum ac laoreet ante, nec pharetra nisi.
                p In lacinia, justo in euismod aliquam, mauris nulla viverra sem, in porttitor arcu felis suscipit orci. Ut rutrum viverra nunc, et fermentum leo.

        .row(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
            .col-md-6
                h2 Our environment
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla neque non urna pharetra, in ultricies magna ultricies. Nunc rutrum massa a nisl blandit dignissim.
                p Mauris sodales neque ante, ut dignissim lorem posuere eu. Ut semper ante accumsan auctor euismod. Sed elementum, quam ut volutpat aliquet, nisi quam semper tortor, ut fermentum erat mi quis lorem.
                p Phasellus in magna in tellus molestie mattis. Quisque rutrum gravida rhoncus.
            .col
                img(src="https://picsum.photos/id/192/400/300")
        .row(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
            .col
                img(src="https://picsum.photos/id/2/400/300")
            .col-md-6
                h2 Our technology
                p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam eleifend porta pharetra. Morbi interdum at lacus non viverra.
                p Mauris vitae maximus metus. Sed ultricies faucibus massa ac euismod. Nunc auctor auctor varius. Aenean fermentum eros quis urna accumsan pellentesque. Etiam dapibus convallis condimentum. Vestibulum ac laoreet ante, nec pharetra nisi.
                p In lacinia, justo in euismod aliquam, mauris nulla viverra sem, in porttitor arcu felis suscipit orci. Ut rutrum viverra nunc, et fermentum leo.
        .row(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
            .col-md-6
                h2 Our partners
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla neque non urna pharetra, in ultricies magna ultricies. Nunc rutrum massa a nisl blandit dignissim.
                p Mauris sodales neque ante, ut dignissim lorem posuere eu. Ut semper ante accumsan auctor euismod. Sed elementum, quam ut volutpat aliquet, nisi quam semper tortor, ut fermentum erat mi quis lorem.
                p Phasellus in magna in tellus molestie mattis. Quisque rutrum gravida rhoncus.
            .col
                img(src="https://picsum.photos/id/1060/400/300")