extends layout

block content
  .gallery#gallery
    .mb-3
      each Image in imagegallery
        .img-wrapper(
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-botton"
          data-aos-duration="1500"
        )
          a(
            href=Image.imgsrc
            data-lightbox="photos"
          )
            img.img-fluid(
              src= Image.thumbnail
            )
      else
        p No images available.
